<h2 mat-dialog-title>{{accion}} Categoria</h2>
<mat-dialog-content>

  <form [formGroup]="formCategoria">
    <mat-grid-list cols="1" rowHeight="80px">

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Categoria</mat-label>
          <input matInput autocomplete="off" formControlName="descripcion" type="text">
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </form>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Volver</button>
  <button mat-raised-button color="primary" [disabled]="formCategoria.invalid" (click)="agregarEditarCategoria()">
    {{accionBoton}}
  </button>
</mat-dialog-actions>